[package]
name = "streaming"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
foundation = { path = "../foundation" }
runtime = { path = "../runtime" }
scene = { path = "../scene" }
