[package]
name = "tools"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
formats = { path = "../formats" }
foundation = { path = "../foundation" }
scene = { path = "../scene" }
