name: CI

on:
  push:
    branches: [ master ]
    tags: [ "v*" ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Filter changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            code:
              - Cargo.toml
              - Cargo.lock
              - crates/**
              - docs/**
              - README.md

      - name: Show change filter
        run: echo "code=${{ steps.filter.outputs.code }}"

      - name: Verify formatting
        if: steps.filter.outputs.code == 'true'
        run: cargo fmt --all -- --check

      - name: Run Clippy
        if: steps.filter.outputs.code == 'true'
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Cargo check
        if: steps.filter.outputs.code == 'true'
        run: cargo check --workspace --all-targets

      - name: Run tests
        if: steps.filter.outputs.code == 'true'
        run: cargo test --workspace --all-features --no-fail-fast
